# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.svn/
*.svn-base
*.d

llvm/
.cproject
.project
.settings/
buildMAO.sh~
src/.Makefile.swp
binutils-2.22-obj-x86_64-linux/

