/home/ubuntu/workspace/mozilla-central:-c which autoconf-2.13 autoconf2.13 autoconf213 2>/dev/null | grep -v '^no autoconf' | head -1
/home/ubuntu/workspace/mozilla-central:-c /home/ubuntu/workspace/mozilla-central/build/autoconf/config.guess
/home/ubuntu/workspace/mozilla-central:-c _PYMAKE= /home/ubuntu/workspace/mozilla-central/build/autoconf/mozconfig2client-mk /home/ubuntu/workspace/mozilla-central 2> /home/ubuntu/workspace/mozilla-central/.mozconfig.out | sed 's/$/||/'
/home/ubuntu/workspace/mozilla-central:-c /home/ubuntu/workspace/mozilla-central/build/autoconf/config.guess
/home/ubuntu/workspace/mozilla-central:-c mkdir -p /home/ubuntu/workspace/mozilla-central/obj-ff-dbg/
/home/ubuntu/workspace/mozilla-central:-c touch -t 197001030000 /home/ubuntu/workspace/mozilla-central/obj-ff-dbg/.mkdir.done
/home/ubuntu/workspace/mozilla-central:-c cp /home/ubuntu/workspace/mozilla-central/.mozconfig /home/ubuntu/workspace/mozilla-central/obj-ff-dbg/.mozconfig
/home/ubuntu/workspace/mozilla-central:-c echo cd /home/ubuntu/workspace/mozilla-central/obj-ff-dbg;
/home/ubuntu/workspace/mozilla-central:-c echo /home/ubuntu/workspace/mozilla-central/configure 
/home/ubuntu/workspace/mozilla-central:-c cd /home/ubuntu/workspace/mozilla-central/obj-ff-dbg &&  MAKE="/usr/bin/make"  /home/ubuntu/workspace/mozilla-central/configure  \
  || ( echo "*** Fix above errors and then restart with\
               \"/usr/bin/make -f client.mk build\"" && exit 1 )
/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/js/src:-c echo "MAKE: /usr/bin/make"
/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/js/src:-c find /home/ubuntu/workspace/mozilla-central/js/src \( -name "*.cpp" -o -name "*.h" \) ! -path "*/dist/*" ! -path "*/config/*"
/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/js/src:-c rm -f js-config.tmp
/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/js/src:-c sed < /home/ubuntu/workspace/mozilla-central/js/src/js-config.in > js-config.tmp \
-e 's|@prefix@|/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/dist|' \
-e 's|@exec_prefix@|/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/dist|' \
-e 's|@includedir@|/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/dist/include|' \
-e 's|@libdir@|/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/dist/lib|' \
-e 's|@MOZILLA_VERSION@||' \
-e 's|@LIBRARY_NAME@|mozjs|' \
-e 's|@NSPR_CFLAGS@|-I/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/dist/include/nspr|' \
-e 's|@JS_CONFIG_LIBS@|-L/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/dist/lib -lnspr4 -lplc4 -lplds4 -ldl  -lm /home/ubuntu/workspace/mozilla-central/obj-ff-dbg/modules/zlib/src/libmozz.a -ldl|' \
-e 's|@MOZ_JS_LIBS@|-L/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/dist/lib -lmozjs|' \
&& mv js-config.tmp js-config && chmod +x js-config
/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/js/src/ctypes/libffi:-c echo '@@@%%%=/usr/bin/make=@@@%%%'
/home/ubuntu/workspace/mozilla-central/obj-ff-dbg/js/src/ctypes/libffi:-c echo this is the am__doit target
/home/ubuntu/workspace/mozilla-central:-c touch /home/ubuntu/workspace/mozilla-central/obj-ff-dbg/Makefile
